<section id="prehome">
        
    <header id="logo">
        <%= image_tag('tulip-logo-light-blue.png') %>
    </header>

    <div class="headline">
        <h1>Tulip is coming.</h1>
        <%= image_tag('tulip_landing_2b.jpg') %>
    </div>

    <div class="tagline">
        A FACELIFT FOR ORAL CARE AND YOUR BATHROOM
    </div>

    <div class="formtext">
        <% if !Rails.application.config.ended %>
            <h3>BE THE FIRST TO KNOW.<br>AND YOU DON'T EVEN NEED TO SLIP US A $20.</h3>
            <%= form_for @preuser, url: { controller: "preusers", action: "create" }, class: "preform" do |f| %>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
                <%= f.text_field :email, :placeholder => "crown@teethmail.com\n" %>
                <%= f.hidden_field :referrer_id, value: params[:ref] %>
                <%= f.submit 'I WANT IN', class: "button", :onClick => "ga('send', 'event', { eventCategory: 'Email Form', eventAction: 'click', eventLabel: 'Preuser form submission'});" %>
            <% end %>
        <% end %>
    </div>
</section>