<section id="prehome">
    <div class="prehero">
        <div id="logo">
            <%= image_tag('tulip-logo-blue.png') %>
        </div>
        <div class="text">
            <h1>Tulip is coming.</h1>
            <h2>The much needed facelift for oral care and your bathroom</h2>
        </div>
    </div>

    <div class="formtext">
        <% if !Rails.application.config.ended %>
            <h3>Be the first to know, and you don't even need to slip us a $20.</h3>
            <%= form_for @preuser, url: { controller: "preusers", action: "create" }, class: "preform" do |f| %>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
                <%= f.text_field :email, :placeholder => "crown@teethmail.com\n" %>
                <%= f.hidden_field :referrer_id, value: params[:ref] %>
                <%= f.submit 'I WANT IN', class: "button"%>
            <% end %>
        <% end %>
    </div>
</section>