<section id="prelauncher">
        
    <header id="logo">
        <%= image_tag('tulip-logo-light-blue.png') %>
    </header>

    <div class="headline">
        <h1>2x the Bristles.  1/2 the Hassle.</h1>
        <%= image_tag('blue.jpg') %>
    </div>

    <div class="tagline">
        AFFORDABLE, EFFECTIVE, BEAUTIFUL.  YOU'RE WELCOME.
    </div>

    <div class="formtext">
        <% if !Rails.application.config.ended %>
            <h3>SIGN UP TO LEARN MORE AND EARN FREE PRODUCTS!</h3>
            <%= form_for @preuser, url: { controller: "preusers", action: "create" }, class: "preform" do |f| %>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
                <%= f.text_field :email, :placeholder => "crown@teethmail.com\n" %>
                <%= f.hidden_field :referrer_id, value: params[:ref] %>
                <%= f.submit 'I WANT IN', class: "button", :onClick => "ga('send', 'event', { eventCategory: 'Email Form', eventAction: 'click', eventLabel: 'Preuser form submission'});" %>
            <% end %>
        <% end %>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69039527-1', 'auto');
      ga('send', 'pageview');
    </script>
    
</section>