<div id="homepage">
	<h1>Change your information!</h1>

	<table class="applyform">
		<%= form_for(@user) do |f| %>
			<tr>
				<td>
					<%= f.label :first, "First name: "%>
					<%= f.text_field :first %>

					<%= f.label :last, "Last name: "%>
					<%= f.text_field :last %>

					<%= f.label :email, "Email address: "%>
					<%= f.text_field :email %>

					<%= f.label :password, "Password: "%>
					<%= f.password_field :password %>

					<%= f.label :password_confirmation, "Confirm Password: "%>
					<%= f.password_field :password_confirmation %>
				</td>
				<td>
					<%= f.label :street, "Billing street: "%>
					<%= f.text_field :street %>

					<%= f.label :apt, "Apartment, floor, suite: "%>
					<%= f.text_field :apt %>
					
					<%= f.label :city, "City: "%>
					<%= f.text_field :city %>
					
					<%= f.label :state, "State: "%>
					<%= f.text_field :state %>

					<%= f.label :zip, "Zipcode: "%>
					<%= f.text_field :zip %>	

					<%= f.submit "SUBMIT", class: "button"%>
				</td>
			</tr>
		<% end %>
	</table>
</div>