<div id="homepage">
	<h1>Order #<%= @order.id %>:</h1>
	<br />
	<span class="pagebreak"></span>
	<br />
	<table>
		<tr>
			<th>Quantity</th>
			<th>SKU</th>
			<th>Description</th>
			<th>Detail</th>
			<th>Price</th>
			<th>Total</th>
		</tr>
	<% @order.item.each do |z| %>
		<tr>
			<td class="product"><%= z[0] %></td>
			<td class="product"><%= z[1] %></td>
			<td class="product"><%= z[2] %></td>
			<td class="product"><%= z[3] %></td>
			<td class="product"><%= z[4] %></td>
			<td class="product"><%= (z[4].to_f)*(z[0].to_f) %></td>
		</tr>
	<% end %>
	</table>
	<span class="pagebreak"></span>
	<table id="special">
		<tr>
			<td id="inlineheader"><h2>Order Total: </h2></td>
			<td id="inlineheader"><h2><%= @total %></h2></td>
		</tr>
	</table>

	<% if @order.shipmentTracker %>
		<h3><u>Order Shipped!</u></h3>
		<h4>Tracking number: <%= @order.shipmentTracker %></h4>
	<% end %>
</div>