<section id="refer">
    <header id="refhome">
        <% 
            words = ''
            if @count == 1
                words = 'friend referred. See rewards below.'
            else 
                words = 'friends referred. See rewards below.'
            end
        %>

        <% if @count == 0 %>
            <p class="place"><span>No</span> friends referred. See rewards below.</p>
        <% else %>
            <p class="place"><span id="placenum"><%= @count %></span> <%= words %></p>
        <% end %>
    </header>


    <div class="hero">
        <div>
            <div>
                <p class="heropar">Sharing is Caring... and Rewarding</p>
                <h1>Spread the word and earn free products.</h1>
                <p>SHARE YOUR UNIQUE LINK VIA:</p>
                <div class="share"><%= mail_to "", image_tag('email-icon.png'), subject: "By Invitation Only", body: "Hey!  I just signed up for Tulip.  Join the oral care revolution and as an added bonus, get free stuff :)\r\n\r\nUse my referral code:\r\n#{root_url}" + "?ref=" + "#{@preuser.referral_code}!", :onClick => "ga('send', 'event', { eventCategory: 'Email Share', eventAction: 'click', eventLabel: 'User clicks Email share'});" %></div>
                <div class="share"><%= link_to image_tag('facebook-icon.png'), "https://www.facebook.com/dialog/feed?app_id=500082056826203&display=popup&caption=Tulip%20is%20coming&description=I%27m%20%23smiling%20ear%20to%20ear%20%40TulipClean%20is%20coming%21%20My%20bathroom%20is%20going%20to%20look%20%23fresh%20for%20free&redirect_uri=#{root_url}&link=#{root_url}%3Fref%3D#{@preuser.referral_code}&picture=#{root_url}assets%2Ftulip%5Flanding%5F2b%2Epng", :onClick => "ga('send', 'event', { eventCategory: 'Facebook Share', eventAction: 'click', eventLabel: 'User clicks Facebook share'});" %></div>
                <div class="share"><%= link_to image_tag('twitter-icon.png'), "https://twitter.com/intent/tweet?text=I%27m%20%23smiling%20ear%20to%20ear%20%40TulipClean%20is%20coming!%20My%20bathroom%20is%20going%20to%20look%20%23fresh%20for%20free%20#{root_url}%3Fref%3D#{@preuser.referral_code}", target: "blank", :onClick => "ga('send', 'event', { eventCategory: 'Twitter Share', eventAction: 'click', eventLabel: 'User clicks Twitter share'});"%></div>
                <div id="referBlock">
                    <div class="share mobileonly"><p class="no-box">Referral code:</p></div>
                    <div class="share "><p><%= root_url %>?ref=<%= @preuser.referral_code %></p></div>
                </div>
            </div>
        </div>
    </div>

    <section id="prizehero">
        <% 
            stops = Preuser::REFERRAL_STEPS
            found = nil
            stops.reverse_each { |stop|
                if stop["count"] <= @count and !found
                    stop["selected"] = true
                    found = stop
                else
                    stop["selected"] = false
                end
            }   
         %>

         <p>FRIENDS INVITED</p>

         <div class="progress">
                <div id="<% if found != nil %>first<% end %>"></div>
                <% stops.each do |stop| %>
                    <div class="counter <% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %>selected<% end %> <% if stop["class"] == 'five' %>final<% end %>"><p><%= stop["count"] %></p><% if stop["count"] > 5%><% end %></div>
                <% end %>
                <div id="<% if found && found["count"] >= 50 %>close<% end %>"></div>
        </div>

        <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
            <ul>
                <% stops.each do |stop| %>
                    <li class="<% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %>selected<% end %><% if stop["class"] == 'five' %> last<% end %>">
                        <div class="prizephoto <% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %>selected<% end %>">
                            <img src="<%= ActionController::Base.helpers.asset_path(stop["image"]) %>" height="254">
                        </div>
                        <p class="prizedesc"><%= stop["html"].html_safe %></p>
                        <div>Refer <%= stop["count"] %> friends</div>
                        <div class="circle <% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %>checked<% end %>"><% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %><%= image_tag( stop["check"] ) %><% end %></div>
                    </li>
                <% end %>
            </ul>
        </div>
        <%= mail_to "hello@tulip.com", nil, class: "mailTo", subject: "Say Hello!" %>
        <p id="copyright">&copy; 2015, TULIP PRODUCTS INC</p>
    </section>
</section>