<section id="refer">
    <header id="refhome">
        <% 
            words = ''
            if @count == 1
                words = 'friend refered. See rewards below.'
            else 
                words = 'friends refered. See rewards below.'
            end
        %>

        <% if @count == 0 %>
            <p class="place"><span>No</span> friends refered! See rewards below.</p>
        <% else %>
            <p class="place"><span id="placenum"><%= @count %></span> <%= words %></p>
        <% end %>
    </header>


    <div class="hero">
        <div>
            <div>
                <h1>Share Tulip, and get rewarded.</h1>
                <p>Go tell your friends all about it.</p>
                <div class="share mobileonly"><p><%= root_url %>?ref=<%= @preuser.referral_code %></p></div>
                <div class="share"><%= mail_to "", image_tag('email-icon.png'), subject: "Gotta check out Tulip!", body: "You've got to check out Tulip! They're changing the way you brush your teeth.\r\n\r\nCheck out this link: #{root_url}" + "?ref=" + "#{@preuser.referral_code} to preregister and get free stuff!" %></div>
                <div class="share"><%= link_to image_tag('facebook-icon.png'), "", target: "blank" %></div>
                <div class="share"><%= link_to image_tag('twitter-icon.png'), "https://twitter.com/intent/tweet?text=%40tulipclean%20is%20coming!%20Check%20it%20out%3A%20#{root_url}%3Fref%3D#{@preuser.referral_code}", target: "blank" %></div>
            </div>
        </div>
    </div>

    <section id="prizehero">
        <% 
            stops = Preuser::REFERRAL_STEPS
            found = nil
            stops.reverse_each { |stop|
                if stop["count"] <= @count and !found
                    stop["selected"] = true
                    found = stop
                else
                    stop["selected"] = false
                end
            }   
         %>

         <p>FRIENDS INVITED</p>

         <div class="progress mobileonly">
                <div id="<% if found != nil %>first<% end %>"></div>
                <% stops.each do |stop| %>
                    <div class="counter <% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %>selected<% end %> <% if stop["class"] == 'five' %>final<% end %>"><p><%= stop["count"] %></p><% if stop["count"] > 5%><% end %></div>
                <% end %>
                <div id="<% if found && found["count"] >= 50 %>close<% end %>"></div>
        </div>


        <div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
            <ul>
                <% stops.each do |stop| %>
                    <li class="<% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %>selected<% end %><% if stop["class"] == 'five' %> last<% end %>">
                        <h2 class="prizecount"><%= stop["count"] %></h2>
                        <div class="prizephoto">
                            <img src="<%= ActionController::Base.helpers.asset_path(stop["image"]) %>" height="254">
                        </div>
                        <p class="prizedesc"><%= stop["html"].html_safe %></p>
                        <div class="circle <% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %>checked<% end %>"><% if stop["selected"] || ((stop["count"] >= 0) && (stop["count"] <= found["count"]) unless found.nil?) %><%= image_tag( stop["check"] ) %><% end %></div>
                    </li>
                <% end %>
            </ul>
        </div>
    </section>
</section>