<div id="homepage">
	<h1>Products</h1>
	
	<table>
		<tr>
			<th>Image</th>
			<th>SKU</th>
			<th>Description</th>
			<th>Price</th>
			<th>Color</th>
			<th>Flavor</th>
		</tr>
		<% @products.each do |z| %>
			<tr>
				<td class="product"><%= link_to image_tag("#{z.photo}"), product_path(z) %></td>
				<td class="product"><%= z.sku %></td>
				<td class="product"><%= z.description %></td>
				<td class="product"><%= number_to_currency(z.price) %></td>

				<% if z.color %>
					<td class="product"><%= z.color %></td>
				<% else %>
					<td class="product"><%= " " %></td>
				<% end %>

				<% if z.flavor %>
					<td class="product"><%= z.flavor %></td>
				<% else %>
					<td class="product"><%= " " %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>