<div id="homepage">
	<%= image_tag ("#{@products.photo}"), class: "productphoto" %>
	<div class="description">
		<h1><%= @products.description %></h1><h3> - $<%= @products.price %></h3>
		<p><%= @products.sku %></p>
		<% if @products.color %>
			<p><%= @products.color %></p>
		<% elsif @products.flavor %>
			<p><%= @products.color %></p>
		<% end %>
				
	</div>
</div>