<!DOCTYPE html>
<html>
<head>
  <title>Tulip</title>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6711674/701688/css/fonts.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale:1.0">
  <meta property="og:url" content= "http://tulip-init.herokuapp.com" />
  <meta property="og:title" content="Tulip" />
  <meta property="og:description" content="Tulip is coming. Your own mouth may want to kiss you. Come inside for exclusive access to our limited early bird shipment." />
  <meta property="og:image" content="/assets/tulip-regimen-7f427e3e15d011e36136ed50e33b8fb0d322f964aad6247eaac15a933014c562.png" />
  <%= csrf_meta_tags %>
</head>
<body>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '809985155766136',
	      xfbml      : true,
	      version    : 'v2.4'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<% if Rails.application.config.ended %>
		<header>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Shop", products_path %></li>
				<% if logged_in? %>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Sign Out", logout_path, method: "delete" %></li>
					<% if existing_order? %>
						<li><%= link_to "Shopping Cart", order_path(find_open_order) %></li>
					<% else %>
						<li><%= link_to "Shopping Cart", cart_path %></li>
					<% end %>	
				<% else %>
					<li><%= link_to "Sign Up", new_user_path %></li>
					<li><%= link_to "Sign In", login_path %></li>
					<li><%= link_to "About", "#" %></li>
				<% end %>
			</ul>
		</header>
	<% end %>

<%= yield %>

<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
  	auto: true,
  	pause: 6000
  });
});
</script>
</body>
</html>
