<!DOCTYPE html>
<html>
<head>
  <title>Tulip</title>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6711674/701688/css/fonts.css" />
  <%= favicon_link_tag('faviconLB.ico') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
	var b=document.getElementsByTagName("script")[0];
	a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0041/1923.js?"+Math.floor(new Date().getTime()/3600000);
	a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
</head>
<body>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '500082056826203',
	      xfbml      : true,
	      version    : 'v2.5'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<% if Rails.application.config.ended %>
		<header>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Shop", products_path %></li>
				<% if logged_in? %>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Sign Out", logout_path, method: "delete" %></li>
					<% if existing_order? %>
						<li><%= link_to "Shopping Cart", order_path(find_open_order) %></li>
					<% else %>
						<li><%= link_to "Shopping Cart", cart_path %></li>
					<% end %>	
				<% else %>
					<li><%= link_to "Sign Up", new_user_path %></li>
					<li><%= link_to "Sign In", login_path %></li>
					<li><%= link_to "About", "#" %></li>
				<% end %>
			</ul>
		</header>
	<% end %>

<%= yield %>

<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
  	auto: true,
  	pause: 6000
  });
});
</script>
<!-- Facebook Conversion Code for Landing Page Signups -->
	<script>(function() {
	 var _fbq = window._fbq || (window._fbq = []);
	 if (!_fbq.loaded) {
	   var fbds = document.createElement('script');
	   fbds.async = true;
	   fbds.src = '//connect.facebook.net/en_US/fbds.js';
	   var s = document.getElementsByTagName('script')[0];
	   s.parentNode.insertBefore(fbds, s);
	   _fbq.loaded = true;
	 }
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '6028528631081', {'value':'0.00','currency':'USD'}]);
	</script>
	<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028528631081&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
	<!-- GOOGLE ANALYTICS -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-69039527-1', 'auto');
	  ga('send', 'pageview');

	</script>
	
</body>
</html>
